api/src/main/resources/wsdl/BioPluginServiceV8.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Identify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BiometricXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdentifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdentifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BiometricXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Template1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Template2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyTemplateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BiometricXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BiometricXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="engineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Old_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="New_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="engineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegistered">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="engineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegisteredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsRegisteredResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IdentifySoapIn">
    <wsdl:part name="parameters" element="tns:Identify" />
  </wsdl:message>
  <wsdl:message name="IdentifySoapOut">
    <wsdl:part name="parameters" element="tns:IdentifyResponse" />
  </wsdl:message>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyTemplate" />
  </wsdl:message>
  <wsdl:message name="VerifyTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteID" />
  </wsdl:message>
  <wsdl:message name="DeleteIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteIDResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeIDSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeID" />
  </wsdl:message>
  <wsdl:message name="ChangeIDSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredSoapIn">
    <wsdl:part name="parameters" element="tns:IsRegistered" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredSoapOut">
    <wsdl:part name="parameters" element="tns:IsRegisteredResponse" />
  </wsdl:message>
  <wsdl:portType name="BioPluginServiceV8Soap">
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Identify">
      <wsdl:input message="tns:IdentifySoapIn" />
      <wsdl:output message="tns:IdentifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyTemplate">
      <wsdl:input message="tns:VerifyTemplateSoapIn" />
      <wsdl:output message="tns:VerifyTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteID">
      <wsdl:input message="tns:DeleteIDSoapIn" />
      <wsdl:output message="tns:DeleteIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeID">
      <wsdl:input message="tns:ChangeIDSoapIn" />
      <wsdl:output message="tns:ChangeIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRegistered">
      <wsdl:input message="tns:IsRegisteredSoapIn" />
      <wsdl:output message="tns:IsRegisteredSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BioPluginServiceV8Soap" type="tns:BioPluginServiceV8Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Identify">
      <soap:operation soapAction="http://tempuri.org/Identify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://tempuri.org/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyTemplate">
      <soap:operation soapAction="http://tempuri.org/VerifyTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteID">
      <soap:operation soapAction="http://tempuri.org/DeleteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeID">
      <soap:operation soapAction="http://tempuri.org/ChangeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegistered">
      <soap:operation soapAction="http://tempuri.org/IsRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BioPluginServiceV8Soap12" type="tns:BioPluginServiceV8Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Identify">
      <soap12:operation soapAction="http://tempuri.org/Identify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap12:operation soapAction="http://tempuri.org/Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyTemplate">
      <soap12:operation soapAction="http://tempuri.org/VerifyTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteID">
      <soap12:operation soapAction="http://tempuri.org/DeleteID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeID">
      <soap12:operation soapAction="http://tempuri.org/ChangeID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegistered">
      <soap12:operation soapAction="http://tempuri.org/IsRegistered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BioPluginServiceV8">
    <wsdl:port name="BioPluginServiceV8Soap" binding="tns:BioPluginServiceV8Soap">
      <soap:address location="http://ec2-18-219-178-114.us-east-2.compute.amazonaws.com/M2Sys.BioPluginWeb/BioPluginServiceV8.asmx" />
    </wsdl:port>
    <wsdl:port name="BioPluginServiceV8Soap12" binding="tns:BioPluginServiceV8Soap12">
      <soap12:address location="http://ec2-18-219-178-114.us-east-2.compute.amazonaws.com/M2Sys.BioPluginWeb/BioPluginServiceV8.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
